doctype html
html
  head
    title= title

    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='author', content='#{author}')
    meta(name='description', content=description)
    meta(name='keywords', content=keyworks)
    meta(content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport")

    link(rel='stylesheet', href='//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='shortcut icon', type='image/x-icon' href='images/favicon.png')

  body
    != yield
